<!-- footer.component.html -->
<div class="footer-container">
    <div class="promo-section">
      <div class="promo-text">
        <h2>LE MEILLEUR SÉLECTIONNÉ POUR VOUS</h2>
        <p>Restez à la pointe de l'actualité et ne manquez aucune sortie ni offre exclusive ! Inscrivez-vous dès maintenant pour recevoir nos dernières nouvelles et avantages réservés à nos membres.</p>

        <button class="promo-button"  [routerLink]="['/login/register']" routerLinkActive="router-link-active" >S'INSCRIRE</button>
      </div>
    </div>
    <div class="info-section">
      <div class="info-item">
        <div class="emoji">💳</div>
        <h3>PAIEMENT SÉCURISÉ</h3>
        <p>Payez simplement avec votre carte bancaire, votre compte Paypal ou en quelques clics avec Amazon Pay</p>
      </div>
      <div class="info-item">
        <div class="emoji">📦</div>
        <h3>LIVRAISON AVEC SUIVI</h3>
        <p>Faites vous livrer à l'adresse de votre choix ou en Point Relais Colis sous 2 à 5 jours ouvrés</p>
      </div>
      <div class="info-item">
        <div class="emoji">🔄</div>
        <h3>RETOUR GRATUIT</h3>
        <p>Besoin de réflexion ? Vous avez 30 jours pour changer d'avis si votre achat ne vous satisfait pas</p>
      </div>
      <div class="info-item">
        <div class="emoji">📞</div>
        <h3>SERVICE CLIENT À L'ÉCOUTE</h3>
        <p>Vous rencontrez un problème ou vous avez besoin d'un conseil ? Nous sommes là pour vous accompagner</p>
      </div>
    </div>
  </div>
  


<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>WeTech
            </h6>
            <p>
              Bienvenue sur Ecoom, votre boutique en ligne de confiance pour le matériel informatique économique et de qualité.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Angular</a>
            </p>
            <p>
              <a href="#!" class="text-reset">React</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Spring</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Mysql</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> CasaBlanca, NY 10012, AL</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              infoexample.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 212644071444</p>
            <p><i class="fas fa-print me-3"></i> + 212644071444</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->